<!doctype>
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
 

  <!-- CSS  -->
  <link rel="icon" href="/img/hamburger.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <style type="text/css">
    .highlight{
      background-color: grey;
    }
  </style>
	<title>Foods</title>
</head>
<body>
	<nav class="red" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo center">What are {{name}}'s Favorite Foods?</a>
     <ul class="right hide-on-med-and-down">
       <li><a class="waves-effect waves-light black btn-large" id="done_button">Done</a></li>
       
    </ul>
    </div>
  </nav>
  	
      <div class="row s2 m2" id="card_grid">
      	{{#each foods}}
        <div class="col s6 m4 l2">
          <div class="card waves-effect waves-light" id="{{this}}_card" >
            <div class="card-image">
              <img src="/img/foods/{{this}}.jpg">
              <span class="card-title">{{this}}</span>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultricies mauris ut molestie efficitur. Cras iaculis porttitor dolor, quis pellentesque neque tristique vitae.</p>
            </div>
            
          </div>
          <script type="text/javascript">
            $(document).ready(function(){
              $("#{{this}}_card").click(function(){
                if($("#{{this}}_card").hasClass('highlight')){
                  $("#{{this}}_card").removeClass('highlight');
                }else{
                  $("#{{this}}_card").addClass('highlight');
                }
              });
            });

          </script>
        </div>
        {{/each}}
      </div>
      <script type="text/javascript">
        $(document).ready(function(){
          
          
          $("#done_button").click(function(){
            var pickedFoods=[];
             $("#card_grid").find('.card').each(function(){
              if($(this).hasClass('highlight')){
                $(this).find('span').each(function(){
                  pickedFoods.push({"food":$(this).text().replace(new RegExp('_','g'),' ')});
                });
              }
              });

             $.ajax({
              url:'/picked_foods',
              type:'POST',
              data:{'foods':pickedFoods,"phone":"{{phone_number}}"},
              dataType:"json",
              success:function(data){
                console.log('POST Complete');
                
            
              },
              error:function(data){
                console.log(data);
              }

             });
             window.location.replace('thanks');
           
            
          })
          
        });
        

      </script>
      
     


 	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  	<script src="js/materialize.js"></script>
  	<script src="js/init.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
</body>
</html>