<!doctype>
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
 

  <!-- CSS  -->
  <link rel="icon" href="hamburger.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <style type="text/css">
    .highlight{
      background-color: grey;
    }
  </style>
	<title>Foods</title>
</head>
<body>
	<nav class="red" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo center">What are {{name}}'s Favorite Foods?</a>
     <ul class="right hide-on-med-and-down">
       <li><a class="waves-effect waves-light black btn-large" id="done_button">Done</a></li>
       
    </ul>
     

      
      <!--<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
    </div>
  </nav>
  	
      <div class="row s2 m2" id="card_grid">
      	{{#each foods}}
        <div class="col s2 m2">
          <div class="card waves-effect waves-light" id="{{this.food}}_card" >
            <div class="card-image">
              <img src={{this.image}}>
              <span class="card-title black-text">{{this.food}}</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            
          </div>
          <script type="text/javascript">
            $(document).ready(function(){
              $("#{{this.food}}_card").click(function(){
                if($("#{{this.food}}_card").hasClass('highlight')){
                  $("#{{this.food}}_card").removeClass('highlight');
                }else{
                  $("#{{this.food}}_card").addClass('highlight');
                }
              });
            });

          </script>
        </div>
        {{/each}}
      </div>
      <script type="text/javascript">
        $(document).ready(function(){
          var i=0;
          
          $("#done_button").click(function(){
            var pickedFoods=[];
             $("#card_grid").find('.card').each(function(){
              if($(this).hasClass('highlight')){
                $(this).find('span').each(function(){
                  pickedFoods.push({"food":$(this).text()});
                });
              }
              });
             $.ajax({
              url:'/picked_foods',
              type:'POST',
              data:{'foods':pickedFoods,"phone":"{{phone_number}}"}

             });
            
          })
          
        });
        

      </script>
      
     


 	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  	<script src="js/materialize.js"></script>
  	<script src="js/init.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
</body>
</html>